@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-table .el-icon-loading {
  zoom: 2.5
}
.el-dialog{
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
  flex:1;
  overflow: auto;
}

// zsyc  global style
.zs-container{
  input[type=number],input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; }
  .el-icon-plus.el-button::before{
    margin-right: 3px;
  }
  margin: 10px;
  .el-dialog__header{
    background-color: #f5f7fa;
    color: #606266
  }
  .el-table .el-link{margin: 0 5px;}
  .zs-required{
    &::before{
      color: red;
      content: '*';
      font-weight: bold;
    }
  }

  .el-table--border.zs-table{
    border-spacing:0;
    tr:last-child td {
      border-bottom: none;
    }
    tr th:last-child,td:last-child{
      border-right: none;
    }
  }

  // start el-tree
  .el-icon-tree::before{
    content: "\e78a"; // folder
  }
  .expanded.el-icon-tree{
    transform: rotate(0deg);
    &::before{
      content: "\e784"; // folder-opened
  }
  }
  .is-leaf.el-icon-tree{
    color: #C0C4CC;
    &::before{
      content: "\e78b"; // file
    }
  }
}
.zs-table-cell-highlight{
  background-color: #f5f7fa;
  color: #606266
}

/* 居中布局 */

.flexBox {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}


/* flex布局 */

.flexbox {
  display: flex;
  display: -webkit-flex;
}


/* 垂直居中 */

.centerBox {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}


/* 垂直底部对齐 */

.endBox {
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
}

.j_b_box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}

.j_a_box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
}

.columnBox {
  flex-direction: column;
}

.rightBox {
  justify-content: flex-end;
}

.leftBox {
  justify-content: flex-start;
}
